<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              <br />
              <span class="text-primary">Login</span>
            </h1>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form>
                  <!-- 2 column grid layout with text inputs for the first and last names -->
               
  
                 <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                   <!-- Usuario input -->
                   <div class="form-outline mb-4">
                    <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario" required />
                    <label class="form-label" for="nombreUsuario">Usuario</label>
                   </div>
  
                  <!-- Password input -->
                   <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" required  />
                    <label class="form-label" for="password">Password</label>
                   </div>
  
                  <!-- Submit button -->
                   <button type="submit" class="btn btn-primary btn-block mb-4">
                    Sign up
                   </button>
                 </form>
  
                  
                
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
