<!--
<h1>Proyectos</h1>
<div>
    <button type="button" class="btn btn-dark" routerLink="/nuevoproyecto" *ngIf="isLogged">Nuevo Proyecto</button>
</div>
<table class="table">
        
    <tr *ngFor="let Proyecto of proyectosLista">
        <td><h3>{{Proyecto.nombreProyecto}}</h3></td>
        <td>{{Proyecto.descripcionProyecto}}</td>
        <td><img src="{{Proyecto.imagen}}"></td>
        <td *ngIf="isLogged">
            <button routerLink="/editproyecto/{{Proyecto.id}}"><i class="bi bi-pencil-fill"></i>Editar</button>
        </td>
        <td *ngIf="isLogged">
            <button id="btn-borrar" (click)="onDeleteProyectos(Proyecto.id)"><i class="bi bi-x"></i>Eliminar</button>
        </td>
    </tr>
        
</table>

-->

<h2>Prácticas y Proyectos</h2>
<br/>

<div class="margenes" id="proyectos">
  <div class="container marketing">
    
        <!-- Three columns of text below the carousel -->
    <div class="row" id="proyectosRow">
      <div class="col" *ngFor="let proyecto of proyectosLista">
        <div class="card text-center bg-transparent" style="width: 18rem;">
            <img src={{proyecto.imagen}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class= "card-title">{{proyecto.nombreProyecto}}</h5>
              <p class="card-text">{{proyecto.descripcionProyecto}}</p>
              <a href="#" class="btn btn-outline-dark">ver más</a>
            </div>
          </div>
      <button class="btn btn-primary" routerLink="/editproyecto/{{proyecto.id}}" *ngIf="isLogged"><i class="bi bi-pencil-fill"></i></button>
      <button class="btn btn-danger" (click)="onDeleteProyectos(proyecto.id)" *ngIf="isLogged"><i class="bi bi-x"></i></button>
    </div>
</div>

<br/>
<div>
  <button type="button" class="btn btn-dark" routerLink="/nuevoproyecto" *ngIf="isLogged">Nuevo Proyecto</button>
</div>
