<div class="container mt-4" *ngIf="skill">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Editar Habilidad</h2>
    <div class="d-flex flex-row justify-content-center alig-items-center">

        <form class="formulario" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="mb-3 mt-3">
                <label for="nombreSkill">Nombre de la habilidad</label>
                <input type="text" class="form-control" id="nombreSkill" name="nombreSkill" [(ngModel)]="skill.nombreSkill" required="">
            </div>
            <div class="mb-3">
                <label for="descripcionSkill">Descripción de la habilidad</label>
                <input type="text" class="form-control" id="nombreSkill" name="descripcionSkill" [(ngModel)]="skill.descripcionSkill" required="">
            </div>
            <div class="mb-3">
                <label for="img">Url de la imagen</label>
                <input type="text" class="form-control" id="img" name="img" [(ngModel)]="skill.img" required="">
            </div>
            <div class="mb-3">
                <label for="colorBarrita">Color de la barrita</label>
                <input type="text" class="form-control" id="colorBarrita" name="colorBarrita" [(ngModel)]="skill.colorBarrita" required="">
            </div>
            <div class="mb-3">
                <label for="percent">Nivel de la habilidad</label>
                <input type="text" class="form-control" id="percent" name="percent" [(ngModel)]="skill.percent" required="">
            </div>
            <br/>
            <button class="btn btn-primary">Actualizar</button>
        </form>
        
    </div>

</div>
