
<!--
<div class="container">
    <app-header></app-header>
    <app-banner></app-banner>
    <app-about></app-about>
    <app-experiencia></app-experiencia>
    <app-educacion></app-educacion>
    <app-skills></app-skills>
    <app-proyectos></app-proyectos>
    <app-footer></app-footer>
    <app-home></app-home>
    <app-login></app-login>
</div>
-->

 
<div class="contenedor">
    <app-header></app-header>
    <app-menu-bar></app-menu-bar>
    <!--<div id="visor">
        <app-sidenav></app-sidenav>
        <app-banner></app-banner>
    </div>-->
</div> 


<router-outlet></router-outlet>


