/*
#visor{
    display: flex;
    height: 610px;
}

app-header{
    width: 100%;
}

app-banner{
    width: 100%;
    background-color: #c4cdd8;
}

app-sidenav{
    background-color: #212529;
}

*/

app-about{
    text-align: center;
    /*width: 100%;*/
    
}

