<!--
    <header>
    <app-logo-ap></app-logo-ap>
    <app-social-media></app-social-media>
    <app-button></app-button>
</header>



<div class="row">
    <app-logo-ap></app-logo-ap>
    <app-social-media></app-social-media>
    <app-button></app-button>
</div>

-->
<div class="d-flex flex-row">
    <div class="cajita1">
        <app-logo-ap></app-logo-ap>
    </div>
    <div class="cajita2">
        <app-social-media></app-social-media>
        <app-button></app-button>
    </div> 
</div>



